<div class="card" id="{{card.id}}">
    <div class="card-block">
        {% if card.previewimage != "" %}
            <a href="{{ card.link }}">
                {% set resimage = card.previewimage %}
                {% set info = { 'height': imageinfo(resimage).height, 
                                'width': imageinfo(resimage).width } %}
                {% set sizes = [ '320', '480', '640', '960', '1280', '1920' ] %}
                <img data-sizes="auto" class="lazyload" data-srcset="
                    {% for size in sizes %}
                        {% set relheight = info.height*size/info.width %}
                        {% if loop.last %}
                            {{ resimage|thumbnail(size, relheight, 'r') }} {{size}}w
                        {% else %}
                            {{ resimage|thumbnail(size, relheight, 'r') }} {{size}}w,
                        {% endif %}
                    {% endfor %}"
                width="100%">
            </a>
        {% endif %} 
        {{ card.previewtext }}
        <div class="card-text small">
            <a href="{{ card.link }}">{{ card.title }}</a>
        </div>
    </div>
</div>