{% set imagesize = { 'small' : 768, 'medium' : 1024, 'large' : 1280, 'xlarge' : 1920 } %}
<div class="card" id="{{card.id}}" fixedposition="{{ card.position }}">
    <div class="card-block">
        {% if card.previewimage != "" %}
            <a href="{{ card.link }}"></a>
                {% set resimage = card.previewimage %}
                {% set info = { 'height': imageinfo(resimage).height, 
                                'width': imageinfo(resimage).width } %}
                {% set sizes = [ '320', '480', '640' ] %}
                <img srcset="
                    {% for size in sizes %}
                        {% set relheight = info.height*size/info.width %}
                        {% if loop.last %}
                            {{ resimage|thumbnail(size, relheight, 'r') }} {{size}}w
                        {% else %}
                            {{ resimage|thumbnail(size, relheight, 'r') }} {{size}}w,
                        {% endif %}
                    {% endfor %}"
                sizes="(max-width: 320) 320px, (max-width: 480) 480px, 640px"
                width="100%">
            </a>
        {% endif %}
        {{ card.previewtext }}
        <div class="card-text small">
                <a href="{{ card.related()[0].link }}">{{ card.related()[0].title }}</a> / <a href="{{ card.link }}">{{ card.title }}</a>
        </div>
    </div>
</div>
