<div class="card" id="{{card.id}}" fixedposition="{{ card.position }}">
    <div class="card-block">
            {% for element in card.gallery %}
                {% if element.block == 'previewelement' %}
                    {% set resimage = { 'checkimage' : element.image.file } %}
                    {% if resimage.checkimage != "" %}
                        {% include 'partials/_card_resimage.twig' with resimage %}
                    {% endif %}
                    {{ element.text }}
                {% endif %}
            {% endfor %}
        <div class="card-text small">
                <a href="{{ card.link }}">{{ card.title }}</a>
        </div>
    </div>
</div>
    
