<div class="card" id="{{card.id}}" fixedposition="{{ card.position }}">
    <div class="card-block">
                {# image #}
                {# ----- #}
                {# check if there is a preview image in the first gallery entry #}
                {% if card.gallery[0].textblock != true %}
                <p>
                    {% if card.gallery[0].preview.file != "" %}
                        {% set checkimage = card.gallery[0].preview.file %}
                    {% else %}
                        {% set checkimage = card.gallery[0].image.file %}
                    {% endif %}
                    {% if checkimage != "" %}
                        {% set oimage = {   'height': imageinfo(checkimage).height, 
                                            'width': imageinfo(checkimage).width } %}
                        {% set rwidth = {   'small': '480', 'medium': '640', 'large': '1024', 'xlarge': '1400'} %}
                        {% set rheight = {  'small': oimage.height*rwidth.small/oimage.width, 
                                            'medium': oimage.height*rwidth.medium/oimage.width, 
                                            'large': oimage.height*rwidth.large/oimage.width, 
                                            'xlarge': oimage.height*rwidth.xlarge/oimage.width } %}
                        <a href="{{ card.link }}">
                            <img src="{{ checkimage|thumbnail(rwidth.small, rheight.small, 'r') }}" width="100%" alt="{{ card.gallery[0].text }}"></p>
                        </a>
                    {% else %}
                        {{ "No image." }}
                    {% endif %}
                </p>
                {% else %}
                    {% if card.gallery[0].backgroundcolor != "" %}
                        <a href="{{ card.link }}">
                            <div style="color: {{ card.gallery[0].textcolor }}; background: {{ card.gallery[0].backgroundcolor }}; padding-left: 10px;">
                                {{ markdown(card.gallery[0].text) }}
                            </div>
                        </a>
                        </span>
                    {% else %}
                        <span style="color: {{ card.gallery[0].textcolor }}">
                            {{ markdown(card.gallery[0].text) }}
                        </span>
                    {% endif %}
                {% endif %}
        <div class="card-text small">
                <a href="{{ card.link }}">{{ card.title }}</a>
        </div>
    </div>
</div>
    
