
{% setcontent settings = "settings" limit 1 returnsingle %}
<footer class="footer">
    <div>
        <div style="border-top: 1px solid black;">
            <span class="small">© {{ "now"|date("Y") }} {{ settings.footer }}</span>
        </div>
    </div>
    {% if settings.socialmedia != "" %}
    <div>
        {% for item in settings.socialmedia %}
            <a href="{{item.links}}"><div class="button">{{item.title|first}}</div></a>
        {% endfor %}
    </div>
    {% endif %}
</footer>
    
    <!-- Assets -->
    <script src={{ asset('js/jquery-3.3.1.slim.min.js', 'theme') }}></script>
    <script src={{ asset('js/bootstrap.min.js', 'theme') }}></script>
    <script src={{ asset('js/flexfolio.js', 'theme') }}></script>

  </body>
</html>
