{% set imagesize = { 'small' : 768, 'medium' : 1024, 'large' : 1280, 'xlarge' : 1920 } %}
{% include 'partials/_header.twig' %}

<body>
    {% set ids = [] %}
    {% include 'partials/_navbar.twig' %}
    <div class="container-fluid">
        <div class="row">
            {# first wide column with record content #}
            {# ------------------------------------- #}
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-block">
                        {# title #}
                        {# ----- #}
                        <h4 class="card-title"> {{ record.title }}</h4>
                        {# image, video, document #}
                        {# ----- #}
                        {% if record.gallery[0] %}
                        <div id="carouselExampleControls" data-wrap="true" data-interval="false" class="carousel slide" data-ride="carousel">
                            {% for item in record.gallery %}
                                {% if item.imgimage.file != "" %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <div class="card">
                                        {% set resimage = item.imgimage.file %}
                                        {% set info = { 'height': imageinfo(resimage).height, 
                                                        'width': imageinfo(resimage).width } %}
                                        {% set sizes = [ '320', '480', '640', '960', '1280' ] %}
                                        <img srcset="
                                            {% for size in sizes %}
                                                {% set relheight = info.height*size/info.width %}
                                                {{ resimage|thumbnail(size, relheight, 'r') }} {{size}}w{% if not loop.last %},{% endif %}
                                            {% endfor %}"
                                        sizes=" (min-width: 768px) 50vw,
                                                100vw"
                                        width="100%">
                                        <div class="card-text small">
                                            {{ item.imgcaption }}
                                        </div>
                                    </div>
                                </div>
                                {% elseif item.vidvideo != ""%}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <div class="card">
                                        <video width="100%" controls src="/files/{{ item.vidvideo }}">
                                            Sorry, your browser doesn't support embedded videos, you can <a href="{{ item.vidvideo }}">download it</a>
                                            and watch it with your favorite video player.
                                        </video>
                                        <div class="card-text small">
                                            {{ item.vidcaption }}
                                        </div>
                                    </div>
                                </div>
                                {% elseif item.docfile != ""%}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        {% if item.docpreview != "" %}
                                            <div class="card" >
                                            {% set resimage = item.docpreview.file %}
                                            {% set info = { 'height': imageinfo(resimage).height, 
                                            'width': imageinfo(resimage).width } %}
                                            {% set sizes = [ '320', '480', '640', '960', '1280' ] %}
                                            <img srcset="
                                                {% for size in sizes %}
                                                    {% set relheight = info.height*size/info.width %}
                                                    {{ resimage|thumbnail(size, relheight, 'r') }} {{size}}w{% if not loop.last %},{% endif %}
                                                {% endfor %}"
                                            sizes=" (min-width: 768px) 50vw,
                                                    100vw"
                                            width="100%">
                                        {% else %}
                                            <div class="card" >
                                            <img src="/theme/flexfolio/images/missing_preview.png" width="100%" alt="No preview.">
                                        {% endif %}
                                        <a href="/files/{{ item.docfile }}">
                                        <div class="carousel-item-overlay">
                                            <span class="icon-down-circled">&nbsp;{{ "Download"}}</span>
                                        </div>
                                        </a>
                                        <div class="card-text small">
                                            {{ item.doccaption }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="icon-left-open" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="icon-right-open" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {# second column with related stuff if available #}
            {# --------------------------------------------- #}
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    {# text #}
                    {# ---- #}
                    <div class="card">
                        <div class="card-block">
                            {{ record.description }}
                            {# show other records with same relation #}
                            {# --------------------------------- #}
                            <div style="padding-top: 0.5rem;"></div>
                            {% setcontent rels = 'work' %}
                            {% for rel in rels %}
                            {% if loop.first %}
                                    <h6 style="border-bottom: 1px solid black;">{{ record.related()[0].title }}</h6>
                            {% endif %}
                            {% if rel.related() == record.related() %}
                            <h4 class="card-title related {%  if record.id == rel.id %}current{% endif %}">
                                    <a href="{{ rel.link }}">
                                    {{ rel.title }}</a>
                            </h4>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

    <div id="scrolldown"><span class="icon-down-open"></span></div> 
    <div onclick="topFunction();" id="scrollup"><span class="icon-up-open"></span></div>
    {% include 'partials/_footer.twig' %}