{% include 'partials/_header.twig' %}
{% set imagesize = { 'small' : 768, 'medium' : 1024, 'large' : 1280, 'xlarge' : 1920 } %}

<body>
    {% set ids = [] %}
    {% include 'partials/_navbar.twig' %}
    <div class="container-fluid">
        <div class="row">
            {# first wide column with record content #}
            {# ------------------------------------- #}
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-7">
                <div class="card">
                    <div class="card-block">
                        {# title #}
                        {# ----- #}
                        <h4 class="card-title"> {{ record.title }}</h4>
                        {# image, video, document #}
                        {# ----- #}
                        {% if record.gallery != "" %}
                            {% for item in record.gallery %}
                                {% if item.image.file != "" %}
                                    {% set resimage = { 'file' : item.image.file, 'size' : imagesize.large, 'link' : false } %}
                                    <div class="card">
                                        {% if resimage.file != "" %}
                                            {% include 'partials/_card_resimage.twig' with resimage %}
                                        {% endif %}
                                        <div class="card-text small">
                                            {{ item.caption }}
                                        </div>
                                    </div>
                                {% elseif item.video != ""%}
                                <div class="card">
                                    <video width="100%" controls src="/files/{{ item.video }}">
                                        Sorry, your browser doesn't support embedded videos, you can <a href="{{ item.video }}">download it</a>
                                        and watch it with your favorite video player.
                                    </video>
                                    <div class="card-text small">
                                        {{ item.caption }}
                                    </div>
                                </div>
                                {% elseif item.file != "" %}
                                    {% if item.preview != "" %}
                                        {% set resimage = { 'file' : item.preview.file, 'size' : imagesize.large, 'link' : false } %}
                                        <div class="card" >
                                        {% if resimage.file != "" %}
                                            {% include 'partials/_card_resimage.twig' with resimage %}
                                        {% endif %}
                                    {% else %}
                                        <div class="card" >
                                        <img src="/theme/flexfolio/images/missing_preview.png" width="100%" alt="{{ item.text }}">
                                    {% endif %}
                                    <a href="/files/{{ item.file }}">
                                        <div class="carousel-item-overlay">
                                            <span class="icon-down-circled">&nbsp;{{ "Download"}}</span>
                                        </div>
                                    </a>
                                    <div class="card-text small">
                                        {{ item.caption }}
                                    </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {# second column with related stuff if available #}
            {# --------------------------------------------- #}
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-5">
                {# text #}
                {# ---- #}
                <div class="card">
                    <div class="card-block">
                        {{ record.description }}
                        {# show other records with same relation #}
                        {# --------------------------------- #}
                        <p></p>
                        <h6 style="border-bottom: 1px solid black;">{{ record.related()[0].title }}</h6>
                        {% setcontent rels = 'work' %}
                        {% for rel in rels %}
                        {% if rel.related == record.related() %}
                        <h4 class="card-title" style="margin-bottom: 0.2rem; border-bottom: 1px solid black;">
                            <a href="{{ rel.link }}">
                                {{ rel.title }}</a>
                        </h4>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    <div id="scrolldown"><span class="icon-down-open"></span></div> 
    <div onclick="topFunction();" id="scrollup"><span class="icon-up-open"></span></div>
    {% include 'partials/_footer.twig' %}